* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: #848ca4;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 130px;
    padding: 10px;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input {
    width: 100%;
    height: 25px;
    min-width: 250px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

.banner {
    padding: 45px;
}

.fakeimg {
    background-color: #aaaaaa;
    width: 100%;
    padding: 20px;
}

footer {
    display: flex;
    padding: 20px;
    text-align: center;
    background: #1B203D;
    color: white;
}
footer li{
    display: flex;
    padding: 5px;
    text-align: center;


}
footer a {
    color: white;
    padding: 14¨px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: capitalize;
    margin: auto;

}
footer a:hover {
    background: #dddddd;
    color: black;
}